.contact {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #65f4cd 0%, #4799e9 100%);
  /*background: linear-gradient(to right, #191654 0%, #43c6ac 100%);*/
  text-align: center;
  color: #182136;
  transition: background 0.3s ease, color 0.3s ease;
}

.contact-container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

/* Título y subtítulo */
.contact-title {
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.contact-subtitle {
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin-bottom: 2rem;
  color: #222a38;
}

/* Modo oscuro */
.dark .contact {
  background: linear-gradient(to right, #191654 0%, #43c6ac 100%);
  color: white;
}
.dark .contact-subtitle {
  color: #f3f4f6;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    padding: 1.5rem;
  }
}
